Day3/n8n/workflow.json
{
  "name": "Day3_RAG_Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest/a269359a-7924-450d-9d7e-24a1ebefa642",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "1ec6f6e4-41c9-4504-b4b0-e2e3033714cf",
      "name": "Webhook",
      "webhookId": "a269359a-7924-450d-9d7e-24a1ebefa642"
    },
    {
      "parameters": {
        "tableId": "rag_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_type",
              "fieldValue": "\"ingestion\""
            },
            {
              "fieldId": "status",
              "fieldValue": "\"success\""
            },
            {
              "fieldId": "details",
              "fieldValue": "=={{$json}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        -32
      ],
      "id": "071ff72a-a670-4d23-8480-be4ae631a3f5",
      "name": "Supabase(Log Event)",
      "credentials": {
        "supabaseApi": {
          "id": "jAzObf4cqVk8DOzI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "rag_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "event_type",
              "fieldValue": "\"ingestion_error\""
            },
            {
              "fieldId": "status",
              "fieldValue": "\"failed\""
            },
            {
              "fieldId": "details",
              "fieldValue": "=={{$json}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "9c4e9bf6-fcd3-484a-8936-10644b3bfa5f",
      "name": "Supabase(Log Error)",
      "credentials": {
        "supabaseApi": {
          "id": "jAzObf4cqVk8DOzI",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.body?.text || $json.text || \"\";\nconst chunksize = 1000;\nconst overlap = 200;\nif (!text) return [{ json: {chunk: \"\"}}];\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunksize - overlap) {\n  const end = Math.min(i + chunksize, text.length);\n  chunks.push({\n    json:{\n      chunk: text.slice(i, end),\n      language: \"en\",\n      supported_languages: [\"en\",\"ar\"]\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "id": "d9752b19-8cbf-448a-85b0-1219d4f05cf4",
      "name": "Chunk Text (Code in JavaScript)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBQgShOH-zd75xa8Y4lXZLgeRxsvRpPDh4"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"={{ $('Chunk Text (Code in JavaScript)').item.json.chunk }}\"\n      }\n    ]\n  },\n  \"outputDimensionality\": 1536\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -16
      ],
      "id": "1f5ae6ff-7dde-42e4-a5e9-51ba11880455",
      "name": "Gemini Embeddings (HTTP Request)",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "documents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Chunk Text (Code in JavaScript)').item.json.chunk }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{$json.embedding.values}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "aacabfa9-c626-44e4-8d4a-e69d94b1f696",
      "name": "Insert Vector (Supabase)",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "jAzObf4cqVk8DOzI",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Receives POST \n**/ingest** {doc_id,content} \n\nfrom client or API.",
        "height": 224,
        "width": 310
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -256
      ],
      "id": "d1b06308-c5c9-46f9-9d0a-3285af1380da",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI/API calls \n**Gemini** \n\ntext-embedding-004 | 768 dims | UAE region",
        "width": 374,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -192
      ],
      "id": "4638de0a-255a-4b62-abad-e69987daab9e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Database \n**Supabase** \n\npgvector + HNSW index | RLS enabled\n\n**Avg insert:** <400ms | 768-dim vectors",
        "height": 192,
        "width": 374,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -272
      ],
      "id": "01b8fabd-e832-482a-8e74-a0c9f8f86d2a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Error Handling\n**Logs to** \n\nrag_logs | Stops workflow on fails\n\n**Retry:** 3x with 2s backoff on Gemini API",
        "height": 192,
        "width": 374,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        272
      ],
      "id": "b7b52c39-be95-48b4-837b-1bab06b1b39c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "   Day 3: RAG Ingestion Pipeline\n   UAE AI Automation Sprint | Toqeer, Dubai\n   Stack: n8n + Gemini + Supabase(pgvector)",
        "height": 144,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -48
      ],
      "id": "811453f8-e4ee-42db-8ed1-b7acc12376c7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Splits document\n**chunks** (400 chars + 50 overlap).",
        "height": 112,
        "width": 278,
        "color": "#FFAE00"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        160
      ],
      "id": "91e59166-cff1-4795-ac3a-8527e97b4844",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Logs successful ingestions  \n**rag_logs** for audit trail.",
        "height": 128,
        "width": 262,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        112
      ],
      "id": "fa3e7e95-46cc-49b1-9834-71a199a22c90",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chunk Text (Code in JavaScript)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase(Log Error)": {
      "main": [
        [
          {
            "node": "Insert Vector (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text (Code in JavaScript)": {
      "main": [
        [
          {
            "node": "Gemini Embeddings (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings (HTTP Request)": {
      "main": [
        [
          {
            "node": "Insert Vector (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase(Log Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Vector (Supabase)": {
      "main": [
        [
          {
            "node": "Supabase(Log Event)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c46ce469-63e5-4b63-9a3d-aa9966e4801c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a069673ca9e9b080397a315ecc7fe530f601234cdb19b0e38b23ec910bcd4b"
  },
  "nodeGroups": [],
  "id": "BtkEUgpjYN5sAbqp",
  "tags": []
}
